
:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

body {
  background-color:#2A683E;
  color: #eee;
  font-family:'Courier New', Courier, monospace;
  font-size: medium;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: medium;
}

button {
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 20px;
  cursor: pointer;
  font-family:'Courier New', Courier, monospace;
  font-size: small;
}

button.text {
  width: auto;
  background-color: rgba(255,255,255,0.1);
  border: 50px;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 20px;
  font-family:'Courier New', Courier, monospace;
  font-size: medium;
}

button.text svg {
  width: 20px;
  float:left;
  margin-right: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: medium;
}

label{
  display: block;
  margin-bottom: 10px;
  margin-top: 20 px;
  text-transform: capitalize; 
}

.PlayButton,
.PauseButton {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 40px; 
  height: 40px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

.PlayButton:hover,
.PauseButton:hover {
  color: white; 
}



